/* 
    GENERAL
*/
.container {
    max-width: 1000px;
    margin: 0 auto;
}

.my-row {
    display: flex;
    flex-wrap: wrap;
}

/* 
    APP
*/
main {
  text-align: center;
}

/* 
    PROJECTSPAGE
*/
.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.projects-container > * {
    width: 40%;
    border: 3px solid white;
    margin-bottom: 15px;
    padding: 5px;
    background-color: rgb(220, 190, 190);
}